<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Blog Admin</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Entrar</h5>
                            <p class="text-center small">Insira seu Email e Senha para entrar</p>
                         </div>
                         <form class="row g-3 needs-validation" novalidate>
                            <div class="col-12">
                               <label for="Email" class="form-label">Email</label>
                                 <div class="input-group has-validation">
                                    <input type="text" name="Email" class="form-control" id="Email" required [(ngModel)]="loginObj.email">
                                    <div class="invalid-feedback">Insira seu email.</div>
                                 </div>
                            </div>
                            <div class="col-12">
                               <label for="Password" class="form-label">Senha</label> <input type="password" name="Password" class="form-control" id="Password" required [(ngModel)]="loginObj.password">
                               <div class="invalid-feedback">Insira sua senha.</div>
                            </div>
                            <div class="col-12">
                               <div class="form-check"> <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe"> <label class="form-check-label" for="rememberMe">Lembrar de mim</label></div>
                            </div>
                            <div class="col-12"> <button class="btn btn-primary w-100" type="submit" (click)="onLogin()">Entrar</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Não tem uma conta ainda? <a routerLink="/registrar">Criar conta.</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>